<a href="https://colab.research.google.com/github/siddharthlanke/Rock-Mine-Prediction/blob/main/Rock_Mine_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# importing libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, KFold

In [68]:
# importing data
df = pd.read_csv("sonar.csv", header=None)

In [69]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [70]:
df.isnull().sum().sum()

0

In [71]:
# Split features and labels
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [72]:
# Spliting the data into training set and test set
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, stratify=Y, random_state=1)

#Model 1: Support Vector Machine model

In [73]:
from sklearn.svm import SVC
model_svc = SVC()
model_svc.fit(X_train, Y_train)

prediction1= model_svc.predict(X_test)
# calculate the accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, prediction1)*100)
# we get an accuracy of 80.9% from the SVM model

80.95238095238095

#Implementing k-Fold cross validation(for SVM)

In [74]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Create a k-Fold cross validation object
kf = KFold(n_splits=10, shuffle=True, random_state=1)

# Run k-Fold cross validation
scores = cross_val_score(model_svc, X, Y, cv=5)

# Print the average accuracy across all folds
print("Average accuracy: {:.2f}".format(scores.mean()))

# Convert the scores to percentages and print them
print("Accuracy scores (as percentages):", [score * 100 for score in scores])

# Print the average accuracy across all folds as a percentage
average_accuracy = scores.mean() * 100
print("Average accuracy (as percentage): {:.2f}%".format(average_accuracy))

Average accuracy: 0.56
Accuracy scores (as percentages): [50.0, 73.80952380952381, 45.23809523809524, 73.17073170731707, 39.02439024390244]
Average accuracy (as percentage): 56.25%

In [75]:
predicted = model_svc.predict([[0.1168, 0.3939, 0.6901, 0.5324, 0.1947, 0.2776, 0.8715, 0.6219, 0.8084, 0.4376, 0.1892, 0.3247, 0.7339, 0.5381, 0.9785, 0.8554, 0.0826, 0.2798, 0.7023, 0.4872, 0.9016, 0.6639, 0.7981, 0.5749, 0.4265, 0.1734, 0.6359, 0.5248, 0.3195, 0.9857, 0.6924, 0.4746, 0.8297, 0.7672, 0.9398, 0.6127, 0.4112, 0.2559, 0.6918, 0.3773, 0.8892, 0.2156, 0.6238, 0.3567, 0.7431, 0.8459, 0.1387, 0.9551, 0.5098, 0.6554, 0.7603, 0.4052, 0.5456, 0.7029, 0.2293, 0.9395, 0.6641, 0.5723, 0.4061, 0.8302]])
if (predicted == 'R'):
    print("The object is a rock")
else:
    print("The object is a mine")

The object is a mine

#Model 2: Logistic Regression model

In [76]:
from sklearn.linear_model import LogisticRegression
model_LR=LogisticRegression()
model_LR.fit(X_train, Y_train)

prediction2= model_LR.predict(X_test)
# calculate the accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, prediction2))

0.7619047619047619

#Implementing k-Fold cross validation(for logistic regression model)

In [77]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Create a k-Fold cross validation object
kf = KFold(n_splits=5, shuffle=True, random_state=1)

# Run k-Fold cross validation
scores = cross_val_score(model_LR, X, Y, cv=5)

# Print the average accuracy across all folds
print("Average accuracy: {:.2f}".format(scores.mean()))

# Convert the scores to percentages and print them
print("Accuracy scores (as percentages):", [score * 100 for score in scores])

# Print the average accuracy across all folds as a percentage
average_accuracy = scores.mean() * 100
print("Average accuracy (as percentage): {:.2f}%".format(average_accuracy))

Average accuracy: 0.63
Accuracy scores (as percentages): [45.23809523809524, 76.19047619047619, 61.904761904761905, 82.92682926829268, 48.78048780487805]
Average accuracy (as percentage): 63.01%

In [78]:
predicted = model_LR.predict([[0.1168, 0.3939, 0.6901, 0.5324, 0.1947, 0.2776, 0.8715, 0.6219, 0.8084, 0.4376, 0.1892, 0.3247, 0.7339, 0.5381, 0.9785, 0.8554, 0.0826, 0.2798, 0.7023, 0.4872, 0.9016, 0.6639, 0.7981, 0.5749, 0.4265, 0.1734, 0.6359, 0.5248, 0.3195, 0.9857, 0.6924, 0.4746, 0.8297, 0.7672, 0.9398, 0.6127, 0.4112, 0.2559, 0.6918, 0.3773, 0.8892, 0.2156, 0.6238, 0.3567, 0.7431, 0.8459, 0.1387, 0.9551, 0.5098, 0.6554, 0.7603, 0.4052, 0.5456, 0.7029, 0.2293, 0.9395, 0.6641, 0.5723, 0.4061, 0.8302]])
if (predicted == 'R'):
    print("The object is a rock")
else:
    print("The object is a mine")

The object is a mine

#Model 3: Decision Tree Classifier

In [79]:
from sklearn.tree import DecisionTreeClassifier
model_DTC=DecisionTreeClassifier()
model_DTC.fit(X_train, Y_train)

prediction3= model_DTC.predict(X_test)
# calculate the accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, prediction2))

0.7619047619047619

#Implementing k-Fold cross validation(for decision tree classifier)

In [80]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Create a k-Fold cross validation object
kf = KFold(n_splits=5, shuffle=True, random_state=1)

# Run k-Fold cross validation
scores = cross_val_score(model_DTC, X, Y, cv=5)

# Print the average accuracy across all folds
print("Average accuracy: {:.2f}".format(scores.mean()))

# Convert the scores to percentages and print them
print("Accuracy scores (as percentages):", [score * 100 for score in scores])

# Print the average accuracy across all folds as a percentage
average_accuracy = scores.mean() * 100
print("Average accuracy (as percentage): {:.2f}%".format(average_accuracy))

Average accuracy: 0.61
Accuracy scores (as percentages): [45.23809523809524, 57.14285714285714, 54.761904761904766, 75.60975609756098, 70.73170731707317]
Average accuracy (as percentage): 60.70%

In [81]:
predicted = model_DTC.predict([[0.1168, 0.3939, 0.6901, 0.5324, 0.1947, 0.2776, 0.8715, 0.6219, 0.8084, 0.4376, 0.1892, 0.3247, 0.7339, 0.5381, 0.9785, 0.8554, 0.0826, 0.2798, 0.7023, 0.4872, 0.9016, 0.6639, 0.7981, 0.5749, 0.4265, 0.1734, 0.6359, 0.5248, 0.3195, 0.9857, 0.6924, 0.4746, 0.8297, 0.7672, 0.9398, 0.6127, 0.4112, 0.2559, 0.6918, 0.3773, 0.8892, 0.2156, 0.6238, 0.3567, 0.7431, 0.8459, 0.1387, 0.9551, 0.5098, 0.6554, 0.7603, 0.4052, 0.5456, 0.7029, 0.2293, 0.9395, 0.6641, 0.5723, 0.4061, 0.8302]])
if (predicted == 'R'):
    print("The object is a rock")
else:
    print("The object is a mine")

The object is a mine